.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.small-header-avatar {
  width: 32px;
  height: 32px;
  border-radius: 16px;
}

.navbar {
  z-index: 2;
}

.hand-logo {
  width: 35rem;
  float: right;
  margin-top: -2rem;
  margin-right: -14rem;
  color: orange;
}

@media (max-width: 768px) {
  .hand-logo {
    width: 4rem;
    float: top;
    margin-top: -2rem;
  }
}

.header-wraper {
  margin-left: 12rem;
  margin-top: 4rem;
  background: url(./img/lighter.jpg) no-repeat;
  height: 100vh;
}

.bucket {
  margin-left: -12rem;
  padding-top: -7rem;
  color: rgb(34, 165, 247);
  font-weight: bolder;
}

.typetext {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 3rem;
  color: rgb(34, 165, 247);
}

.checklist {
  font-size: 2rem;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  color: orange;
}

.men {
  width: 100%;
}

.icon {
  float: right;
}

.design {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  font-style: oblique;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.unique {
  position: inherit !important;
  width: auto;
}

@media (max-width: 768px) {
  .unique {
    position: absolute !important;
    right: 1rem !important;
  }
}

@media (max-width: 768px) {
  .row-unique {
    position: absolute !important;
    right: 2rem;
    text-align: center;
  }

  .col-unique {
    display: none;
  }
}

.floating-alert {
  display: none;
  position: absolute;
  z-index: 999;
  top: 38px;
  left: 50%;
  transform: translateX(-50%);
  -moz-animation: floatingAlert ease-in 5s forwards;
  -webkit-animation: floatingAlert ease-in 5s forwards;
  -o-animation: floatingAlert ease-in 5s forwards;
  animation: floatingAlert ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.floating-alerts .floating-alert:last-of-type {
  display: block;
}

@keyframes floatingAlert {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }
  9% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }
  91% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }
}

@-webkit-keyframes floatingAlert {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }
  9% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }
  91% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }
}
